.circle {
  @apply absolute rounded-full;
  height: 33vh;
  width: 33vh;
  z-index: 1 !important;
  filter: blur(250px);
  opacity: .2;
}

.circle.right, .circle.left {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle.blue {
  /* @apply bg-blue; */
  background: #32cafd87;
}

.circle.yellow {
  /* @apply bg-yellow; */
  background: #7214FF;
}