.circle {
  @apply absolute rounded-full;
  height: 33vh;
  width: 33vh;
  z-index: 1 !important;
  filter: blur(250px);
  opacity: .6;
}

.circle.right, .circle.left {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle.blue {
  @apply bg-blue;
}

.circle.yellow {
  @apply bg-yellow;
}