.container {
  @apply flex flex-col justify-start w-full p-3 hover:bg-focus-input;
  .state {
    &:before {
      content: '';
      display: inline-block;
      border: .25rem solid;
      margin: 0 .5rem .1rem 0;
      border-radius: 100%;
    }
  }

  .title {
    @apply flex flex-row justify-start items-center;
  }

  .date {
    @apply ml-auto text-light-text;
  }

  .state.ok:before {
    border-color: #00ff00;
  }

  .state.critical:before {
    border-color: #ff0000;
  }

  .state.partial:before {
    border-color: #ffff00;
  }

  .moderate_btns {
    @apply w-full flex justify-center mt-1;
    margin-bottom: 0.1rem;

    button:first-child {
      @apply ml-0 mb-0 mr-1.5;
    }

    button:last-child {
      @apply mr-0 mb-0 ml-1.5;
    }

    * {
      @apply flex-grow;
    }

    .delete_btn {
      *:before {
        content: 'Удалить';
      }
      *:after {
        content: '.';
        color: rgba(0, 0, 0, 0);
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        margin: 0rem 0 0 .5rem;
        -webkit-mask: url('./../../../assets/closeIcon.svg') no-repeat 50% 50%;
        mask: url('./../../../assets/closeIcon.svg') no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background: white;
      }
    }

    .approve_btn {
      *:before {
        content: 'Прочитано';
      }
      *:after {
        content: '.';
        color: rgba(0, 0, 0, 0);
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        margin: 0rem 0 0 .5rem;
        -webkit-mask: url('./../../../assets/checkIcon.svg') no-repeat 50% 50%;
        mask: url('./../../../assets/checkIcon.svg') no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
  }
}