.container {
  @apply flex flex-col justify-start w-full p-3 hover:bg-focus-input;

  .title {
    @apply flex flex-row;

    .date {
      @apply mr-auto text-light-text;
    }

    .stars {
      &:after {
        content: '.';
        color: rgba(0, 0, 0, 0);
        height: .9rem;
        width: .9rem;
        display: inline-flex;
        align-items: center;
        margin: .2rem 0 0 .3rem;
        -webkit-mask: url('./../../assets/starFillIcon.svg') no-repeat 50% 50%;
        mask: url('./../../assets/starFillIcon.svg') no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: #ffffffe5;
      }
    }
  }

  .text {
    @apply -mt-3;
  }
}