@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-base m-0 p-0 box-border text-gray-50;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  @apply border-gray-light py-2;
}

.auth_error {
  @apply text-red h-5 pl-3;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body, html, #root {
  @apply bg-gray-dark;
  min-width: 300px;
  font-size: 16px;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  height: 100vh;
}

.page_title {
  @apply text-6xl font-bold p-3 pl-0 -mt-3;

  background: linear-gradient(0deg, rgba(230, 230, 230, .8) 20%, white 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar-track {
  @apply bg-none;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-600 bg-opacity-50 rounded-3xl hover:bg-gray-700;
}
::-webkit-scrollbar {
  @apply w-0.5;
}

@media (max-width: 425px) {
  .page_title {
    font-size: 2.7rem !important;
  }
}