.hr {
  display: flex;
  width: 100%;
  /* max-width: max(76rem, 46%); */
  align-self: center;
}

.header {
  @apply flex justify-center items-center px-10 py-3.5 w-full;
  max-width: max(79.5rem, 46%);
  align-self: center;

  .title {
    min-width: 4rem;
    a {
      @apply flex flex-wrap justify-center items-center font-bold text-xl hover:opacity-90 transition-all;
    }
  }

  .navigation {
    @apply flex flex-row flex-wrap justify-start items-center w-1/2 mr-1 -ml-3;

    a {
      @apply p-2.5 whitespace-nowrap hover:opacity-80 transition-all;
    }
  }

  .buttons {
    @apply flex flex-wrap justify-end items-center ml-2.5 -mr-4 -m-2 w-1/2;
  }

  span {
    @apply m-0;
  }
}

@media (max-width: 768px) {
  .title {
    display: none;
    /* opacity: 0;
    visibility: hidden; */
  }
  .buttons {
    width: 80% !important;
  }
}